{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>AMAZE AMAZE AMAZE</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body style="background-image: url('{% static 'astrophage.webp' %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
<h1 style="color:white">AMAZE AMAZE AMAZE</h1>
    <div id="content">
    <h1 style="color:white">Rocky find flag</h1>
    <p style="color:white"> flag-rocky{aQ==} </p>
    <img src="{% static 'rocky.jpeg' %}" alt="Rocky from project hail mary">
</div>
</html>