{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Web Security Demo</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Web Security Demo</h1>
	<div id="navigation">
		<ul>
			<li><a href="#">Home Page</a></li>
			<!-- <li><a href="hints">Hints</a></li> -->
		</ul>
	</div>
	<div id="content">
<div id="content">
    <h1>Home</h1>
    <div class="instruction-box">
        <h3>Instructions</h3>
        <p>This challenge requires you to find X flags and write them down. Each flag contains part of a secret code. Once you collect all of the flags you can assemble the code and tell us to finish the activity!</p>
        <p>Here are a few helpful tips to get you started:</p>
        <ul>
            <li>How do you view the source code of a website?</li>
            <li>What is the URL for the page that lists what content robots are allowed and not allowed to visit?</li>
            <li>What other web pages might this website have?</li>
        </ul>
    </div>
</div>

</html>