{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Web Security Demo</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Web Security Demo</h1>
	<div id="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/barbie">Barbie</a></li>
            <li><a href="/notebook">The Notebook</a></li>
            <li><a href="/fallguy">The Fall Guy</a></li>
            <li><a href="/piano">La La Land</a></li>
            <li><a href="/submit">Submit the message</a></li>
            <li style="text-align:right"><a href="/login">Manager Login</a></li>
		</ul>
	</div>
    <div id="content">
    <h1>Submission</h1>
    <br>
        <p>Once you find all 8 hidden flags and discover the secret message, submit the phrase here</p>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="secrettext" placeholder="The secret mesage is ... ">
            <button type="submit">Submit</button>
        </form>
</div>
</html>